ESIDIFC75/Connected Services/service/informeDeGastos.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:tns="https://ws-si.mecon.gov.ar/ws/informeDeGastos" xmlns:cs="https://ws-si.mecon.gov.ar/ws/comprobantes" elementFormDefault="qualified" targetNamespace="https://ws-si.mecon.gov.ar/ws/informeDeGastos" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="comprobantes.xsd" namespace="https://ws-si.mecon.gov.ar/ws/comprobantes" />
  <complexType name="ItemPresupuestarioInformeDeGastosType">
    <sequence>
      <element name="imputacion" type="cs:ImputacionPresupuestariaCreditoType" />
      <element name="ud" type="cs:UnidadDescentralizadaType" />
      <element minOccurs="0" name="recac" type="cs:CodigoTramoPartidaType" />
      <element minOccurs="0" name="sigade" type="cs:CodigoTramoPartidaType" />
      <element name="importeCompromiso" type="cs:ImporteType" />
      <element name="importeDevengado" type="cs:ImporteType" />
      <element name="importePagado" type="cs:ImporteType" />
    </sequence>
  </complexType>
  <complexType name="ItemNoPresupuestarioInformeDeGastosType">
    <sequence>
      <element name="axt" type="long" />
      <element name="importeDevengado" type="cs:ImporteType" />
      <element name="importePagado" type="cs:ImporteType" />
      <element name="ejercicio" type="cs:EjercicioType" />
    </sequence>
  </complexType>
  <complexType name="DatosInicialesInformeDeGastosType">
    <sequence>
      <element name="identificacionComprobante" type="cs:IdentificacionComprobanteType" />
      <element name="entidadProceso" type="cs:EmisorType" />
      <element minOccurs="0" name="identificadorTramite" type="cs:IdentificadorDeTramiteType" />
      <element minOccurs="0" name="documentoRespaldatorio" type="cs:DocumentoRespaldatorioType" />
      <element minOccurs="0" name="comprobanteOrigen" type="cs:IdentificacionComprobanteType" />
      <element name="fechaAutorizacion" type="date" />
      <element name="fechaComprobante" type="date" />
      <element minOccurs="0" name="fechaRegistro" type="date" />
      <element minOccurs="0" name="periodoImpacto" type="cs:PeriodoImpactoType" />
      <element minOccurs="0" name="cuentaFinanciadora" type="cs:CuentaType" />
      <element name="pagoDirecto" type="boolean" />
      <element name="medioDePago" type="cs:MedioDePagoType" />
      <element name="importeCompromiso" type="cs:ImporteType" />
      <element name="importeDevengado" type="cs:ImporteType" />
      <element name="importePagado" type="cs:ImporteType" />
      <element name="importeDeducciones" type="cs:ImporteType" />
      <element name="importeDeduccionesPagado" type="cs:ImporteType" />
      <element name="importeNetoPagado" type="cs:ImporteType" />
      <element minOccurs="0" name="uepex" type="string" />
      <element minOccurs="0" name="observaciones" type="string" />
      <element minOccurs="0" maxOccurs="unbounded" name="itemsPresupuestarios" type="tns:ItemPresupuestarioInformeDeGastosType" />
      <element minOccurs="0" maxOccurs="unbounded" name="itemsNoPresupuestarios" type="tns:ItemNoPresupuestarioInformeDeGastosType" />
    </sequence>
  </complexType>
</schema>