ESIDIFC75/Connected Services/service/informeDeGastosMsg.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ig="https://ws-si.mecon.gov.ar/ws/informeDeGastos" xmlns:tns="https://ws-si.mecon.gov.ar/ws/informeDeGastosMsg" xmlns:cpts="https://ws-si.mecon.gov.ar/ws/comprobantes" elementFormDefault="qualified" targetNamespace="https://ws-si.mecon.gov.ar/ws/informeDeGastosMsg" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="informeDeGastos.xsd" namespace="https://ws-si.mecon.gov.ar/ws/informeDeGastos" />
  <import schemaLocation="comprobantes.xsd" namespace="https://ws-si.mecon.gov.ar/ws/comprobantes" />
  <element name="generarInformeDeGastos">
    <complexType>
      <sequence>
        <element name="datosInicialesInformeDeGastos" type="ig:DatosInicialesInformeDeGastosType" />
        <element name="gestionExterna" type="cpts:GestionExternaEnum" />
      </sequence>
    </complexType>
  </element>
  <element name="generarInformeDeGastosResponse">
    <complexType>
      <sequence>
        <element name="numeroSidif" type="long" />
      </sequence>
    </complexType>
  </element>
</schema>