ESIDIFC75/Connected Services/GestionService/GestionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://anses.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://anses.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ESIDIFGestionClaves</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://anses.gov.ar">
      <s:element name="ConsultarKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarKeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarKeySoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarKey" />
  </wsdl:message>
  <wsdl:message name="ConsultarKeySoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarKeyResponse" />
  </wsdl:message>
  <wsdl:portType name="GestionServiceSoap">
    <wsdl:operation name="ConsultarKey">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ESIDIFGestionClaves</wsdl:documentation>
      <wsdl:input message="tns:ConsultarKeySoapIn" />
      <wsdl:output message="tns:ConsultarKeySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GestionServiceSoap" type="tns:GestionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarKey">
      <soap:operation soapAction="/ConsultarKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GestionServiceSoap12" type="tns:GestionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarKey">
      <soap12:operation soapAction="/ConsultarKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ESIDIFGestionClaves</wsdl:documentation>
    <wsdl:port name="GestionServiceSoap" binding="tns:GestionServiceSoap">
      <soap:address location="http://ansesnegodesapp/ESIDIFGestionClaves/GestionService.asmx" />
    </wsdl:port>
    <wsdl:port name="GestionServiceSoap12" binding="tns:GestionServiceSoap12">
      <soap12:address location="http://ansesnegodesapp/ESIDIFGestionClaves/GestionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>