ESIDIFAcumuladores/Connected Services/service/estadoAcumuladoresCreditoWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://services.imputaciones.common.esidif.mecon.gov.ar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sch="http://webService.imputacionesPresupuestarias.esidif.mecon.gov.ar" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" targetNamespace="http://services.imputaciones.common.esidif.mecon.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <sp:UsernameToken>
    <wsp:Policy>
      <sp:WssUsernameToken10 />
    </wsp:Policy>
  </sp:UsernameToken>
  <wsdl:types>
    <xs:schema xmlns:tns="http://webService.imputacionesPresupuestarias.esidif.mecon.gov.ar" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webService.imputacionesPresupuestarias.esidif.mecon.gov.ar" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="acumuladoresCreditoIndicativa" nillable="true" type="tns:acumuladoresCreditoConsulta" />
      <xs:element name="imputacionCreditoConsulta" nillable="true" type="tns:imputacionCreditoConsulta" />
      <xs:complexType name="acumuladoresCreditoConsulta">
        <xs:sequence>
          <xs:element minOccurs="0" name="compromiso" type="xs:decimal" />
          <xs:element minOccurs="0" name="creditoInicialEjercicio" type="xs:decimal" />
          <xs:element minOccurs="0" name="creditoInicialProrroga" type="xs:decimal" />
          <xs:element minOccurs="0" name="creditoPotencial" type="xs:decimal" />
          <xs:element minOccurs="0" name="creditoRestringido" type="xs:decimal" />
          <xs:element minOccurs="0" name="creditoVigente" type="xs:decimal" />
          <xs:element minOccurs="0" name="devengado" type="xs:decimal" />
          <xs:element minOccurs="0" name="gastoPreventivo" type="xs:decimal" />
          <xs:element minOccurs="0" name="pagado" type="xs:decimal" />
          <xs:element minOccurs="0" name="pagadoFinanciero" type="xs:decimal" />
          <xs:element minOccurs="0" name="reservaCompromiso" type="xs:decimal" />
          <xs:element minOccurs="0" name="reservaDevengado" type="xs:decimal" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="imputacionCreditoConsulta">
        <xs:sequence>
          <xs:element minOccurs="0" name="ejercicio" type="xs:long" />
          <xs:element minOccurs="0" name="sectorInstitucional" type="xs:long" />
          <xs:element minOccurs="0" name="subSectorInstitucional" type="xs:long" />
          <xs:element minOccurs="0" name="caracterInstitucional" type="xs:long" />
          <xs:element minOccurs="0" name="jurisdiccion" type="xs:long" />
          <xs:element minOccurs="0" name="subJurisdiccion" type="xs:long" />
          <xs:element minOccurs="0" name="entidad" type="xs:long" />
          <xs:element minOccurs="0" name="servicio" type="xs:long" />
          <xs:element minOccurs="0" name="programa" type="xs:long" />
          <xs:element minOccurs="0" name="subPrograma" type="xs:long" />
          <xs:element minOccurs="0" name="proyecto" type="xs:long" />
          <xs:element minOccurs="0" name="actividad" type="xs:long" />
          <xs:element minOccurs="0" name="obra" type="xs:long" />
          <xs:element minOccurs="0" name="inciso" type="xs:long" />
          <xs:element minOccurs="0" name="principal" type="xs:long" />
          <xs:element minOccurs="0" name="parcial" type="xs:long" />
          <xs:element minOccurs="0" name="subParcial" type="xs:long" />
          <xs:element minOccurs="0" name="procedencia" type="xs:long" />
          <xs:element minOccurs="0" name="fuente" type="xs:long" />
          <xs:element minOccurs="0" name="moneda" type="xs:long" />
          <xs:element minOccurs="0" name="ubicacionGeografica" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="entidadOrigenDestino" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="prestamoExterno" type="xs:long" />
          <xs:element minOccurs="0" maxOccurs="1" name="bapin" type="xs:long" />
          <xs:element minOccurs="0" name="finalidad" type="xs:long" />
          <xs:element minOccurs="0" name="funcion" type="xs:long" />
          <xs:element minOccurs="0" name="clasificadorEconomico" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="acumuladoresCreditoIndicativaRequest">
    <wsdl:part name="imputacionCreditoConsulta" element="sch:imputacionCreditoConsulta" />
  </wsdl:message>
  <wsdl:message name="acumuladoresCreditoIndicativaResponse">
    <wsdl:part name="acumuladoresCreditoIndicativa" element="sch:acumuladoresCreditoIndicativa" />
  </wsdl:message>
  <wsdl:portType name="estadoAcumuladoresCreditoService">
    <wsdl:operation name="acumuladoresCreditoIndicativa">
      <wsdl:input name="acumuladoresCreditoIndicativaRequest" message="tns:acumuladoresCreditoIndicativaRequest" />
      <wsdl:output name="acumuladoresCreditoIndicativaResponse" message="tns:acumuladoresCreditoIndicativaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="estadoAcumuladoresCreditoServiceSoap11" type="tns:estadoAcumuladoresCreditoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsaw:UsingAddressing wsdl:required="true" />
    <wsdl:operation name="acumuladoresCreditoIndicativa">
      <soap:operation soapAction="https://ws-si.mecon.gov.ar/ws/imputaciones_presupuestarias/acumuladoresCreditoIndicativaService" />
      <wsdl:input name="acumuladoresCreditoIndicativaRequest">
        <soap:body use="literal" parts="imputacionCreditoConsulta" />
      </wsdl:input>
      <wsdl:output name="acumuladoresCreditoIndicativaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="estadoAcumuladoresCreditoServiceService">
    <wsdl:port name="estadoAcumuladoresCreditoServiceSoap11" binding="tns:estadoAcumuladoresCreditoServiceSoap11">
      <soap:address location="https://ws-si.mecon.gov.ar/SD_Core/ws/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>